@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-overflow-scrolling: touch;
}

nav {
  position: sitcky;
  top: 0;
}

.collapse-content {
  -webkit-overflow-scrolling: touch; /* Améliore le scrolling sur iOS */
}
